body{
    margin: 0;
}
.container{
    height: 50px;
    width: 100vw;
    display: flex;
}
/* encabezado */
.header-nav{
    display: flex;
    flex: auto;
    background-color: rgb(69, 84, 139);
}

.header-nav a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Lucida Sans', sans-serif;
}

.home-link{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}

/* menu de links */
.menu-bar{
    display: flex;
    flex:auto;
    align-items: center;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 50, 96);
    color: aliceblue;
    font-family: 'Lucida Sans', sans-serif;
    text-decoration: none;
    height: 50px;
    width: 80px;
}

.link:hover{
    background-color:aliceblue;
    color:black;
}

/* links a la derecha */
#link3{
    margin-left: auto;
}

.nav-icon{
    display: none;
}

/* navegacion en móviles */
@media (max-width:48em) {
    .container{
        height:auto;
        width: 100vw;
        display: flex;
    }

    .header-nav{
        display: flex;
        flex-direction: column;
    }
    .home-link{
        display: flex;
        height: 50px;
        width: 100vw;
        justify-content:flex-start;
        align-items: center;
    }
    .home-link a{
        margin-left: 20px;
    }
    .nav-icon{
        display: flex;
        font-size: 1rem;
        color: black;
        background: transparent;
        border-color: transparent;
        cursor: pointer;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
    }
    .nav-icon:hover{
        color: aliceblue;
        background-color:  rgb(47, 50, 96);
    }
    .menu-bar{
        display: none;
        flex-direction: column;
    }
   /*  javascript toggle */
    .show-menu-bar{
        display: flex;
        flex-direction: column;
    }

    .link{
        margin: 0;
        width: 100vw;
    }
}